<div class="w-full mx-auto">
  <div class="py-12 text-center">
    <h1 class="text-3xl mb-[60px]">顧客対応管理アプリ</h1>

    <div class="grid grid-cols-2 gap-8 max-w-2xl mx-auto mt-14">
      <%= link_to "顧客登録", new_customer_path, class: "bg-blue-600 text-white text-2xl py-12 rounded-lg font-bold" %>
      <%= link_to "顧客検索", "#", class: "bg-blue-600 text-white text-2xl py-12 rounded-lg font-bold" %>
      <%= link_to "顧客対応一覧", "#", class: "bg-blue-600 text-white text-2xl py-12 rounded-lg font-bold" %>
      <%= link_to "接客記録登録", "#", class: "bg-blue-600 text-white text-2xl py-12 rounded-lg font-bold" %>
    </div>
  </div>
</div>