<div class="w-full mx-auto h-screen bg-[#F7F7F7]">
    <h1 class="text-3xl text-center py-[50px]">顧客詳細</h1>
    <div class="customer_info">
        <h2>顧客情報</h2>
        <table>
            <tr>
                <th>氏名</th>
                <td></td>
            </tr>
            <tr>
                <th>フリガナ</th>
                <td></td>
            </tr>
            <tr>
                <th>連絡先</th>
                <td></td>
            </tr>
            <tr>
                <th>補足メモ</th>
                <td></td>
            </tr>
        </table>
        <button></button>
    </div>
    <div class="consulted_before ">
        <h2>接客履歴</h2>


    </div>
</div>