<div class="w-full mx-auto h-full bg-[#F7F7F7]">
    <h1 class="text-3xl text-center py-[50px]">顧客詳細</h1>

    <section class="customer_info w-[80%] mx-auto">
        <h2 class="text-[32px] text-[#2F71F4] mb-[20px]">顧客情報</h2>
        <div class="mb-[50px] p-[40px] shadow-lg bg-white">
            <table class="w-[60%] mx-auto mb-[20px] text-center">
                <tbody class="divide-y divide-gray-300">
                    <tr class="h-[48px]">
                        <th class="w-[200px] px-[20px] py-[15px] border-r border-gray-300">氏名</th>
                        <td><%= @customer.name %></td>
                    </tr>
                    <tr class="h-[48px]">
                        <th class="w-[200px] px-[20px] py-[15px] border-r border-gray-300">フリガナ</th>
                        <td><%= @customer.name_kana %></td>
                    </tr>
                    <tr class="h-[48px]">
                        <th class="w-[200px] px-[20px] py-[15px] border-r border-gray-300">連絡先</th>
                        <td><%= @customer.phone_number %></td>
                    </tr>
                    <tr class="h-[96px]">
                        <th class="w-[200px] px-[20px] py-[15px] border-r border-gray-300">補足メモ</th>
                        <td><%= @customer.memo %></td>
                    </tr>
                </tbody>
            </table>
            <div class="flex justify-center text-center">
                <a class="h-[50px] w-[200px] bg-blue-600 text-white font-bold leading-[50px] cursor-pointer shadow-lg shadow-blue-600/60" href="#">顧客情報変更</a>
            </div>
        </div>

        
    </section>
    <section class="consulted_before w-[80%] mx-auto">
        <h2 class="text-[32px] text-[#2F71F4] mb-[20px]">接客履歴</h2>
        <div class="mb-[50px] p-[40px] shadow-lg bg-white">
            <table class="w-[90%] mx-auto mb-[20px]">
                <thead class="border-b border-gray-300">
                    <tr class="h-[48px]">
                        <th class="w-[25%] px-[20px] py-[15px]">対応日</th>
                        <th class="w-[25%] px-[20px] py-[15px]">相談種別</th>
                        <th class="w-[25%] px-[20px] py-[15px]">ステータス</th>
                    </tr>
                </thead>
                <tbody class="divide-y divide-gray-300 text-center">
                    <tr class="h-[48px]">
                        <td class="w-[25%]">2026年3月5日</td>
                        <td class="w-[25%]">料金変更相談</td>
                        <td class="w-[25%]">完了</td>
                        <td><button class="bg-green-600 text-white font-bold px-[12px] py-[3px] shadow-lg shadow-green-600/60">詳細</button></td>
                        <td><button class="bg-gray-600 text-white font-bold px-[12px] py-[3px] shadow-lg shadow-gray-600/60">編集</button></td>
                    </tr>
                    <tr class="h-[48px]">
                        <td class="w-[25%]">2026年3月5日</td>
                        <td class="w-[25%]">料金変更相談</td>
                        <td class="w-[25%]">完了</td>
                        <td><button class="bg-green-600 text-white font-bold px-[12px] py-[3px] shadow-lg shadow-green-600/60">詳細</button></td>
                        <td><button class="bg-gray-600 text-white font-bold px-[12px] py-[3px] shadow-lg shadow-gray-600/60">編集</button></td>
                    </tr>
                </tbody>
            </table>
            <div class="flex justify-center text-center">
                <a class="h-[50px] w-[200px] bg-blue-600 text-white font-bold leading-[50px] cursor-pointer shadow-lg shadow-blue-600/60" href="#">接客記録作成</a>
            </div>
        </div>
    </section>
    <div class="flex justify-center text-center my-[20px]">
        <a class="h-[50px] w-[200px] bg-red-600 text-white font-bold leading-[50px] cursor-pointer shadow-lg shadow-red-600/60" href="#">顧客削除</a>
    </div>
</div>